---
import BaseLayout from './BaseLayout.astro';

const { title = 'About', description = '' } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <div class="about">
    <slot />
  </div>
</BaseLayout>
